# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# Mac
.DS_Store

# IntelliJ project files
.idea
*.iml
out
gen

# maven
target/

# eclipse
.settings/
.project
.classpath

# vscode
.factorypath
.vscode

# common
*.log
.jpb
