<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:elasticjob="http://shardingsphere.apache.org/schema/elasticjob"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd


                        http://shardingsphere.apache.org/schema/elasticjob
                        http://shardingsphere.apache.org/schema/elasticjob/elasticjob.xsd">
    <!--configure registry center -->
    <elasticjob:zookeeper id="regCenter" server-lists="localhost:2181" namespace="dd-job"
                          base-sleep-time-milliseconds="1000" max-sleep-time-milliseconds="3000" max-retries="3"/>

    <bean id="simpleJob" class="pers.vv.study.schedule.elasticjob.ElasticJob"/>

    <!--configure job -->
    <elasticjob:job id="myElasticJob" job-ref="simpleJob" registry-center-ref="regCenter" cron="0/10 * * * * ?"
                    sharding-total-count="3" sharding-item-parameters="0=A,1=B,2=C"/>
</beans>